

body{
    text-align: center;
    background-color: #111111;
    display: grid;
    justify-content: center;
}
h1{
    color: white;
}

button{
    margin-bottom: 30px;
    height: 30px;
    width:  60px;
    border-radius: 10px;

    background-color:   white;
    color: black;

    border-color: white;

    outline: none;

    font-weight: bold;

    justify-self: center;

    align-self: center;
    

}
button:hover{
    transform: scale(1.06);
}

label{
    color: white;
}
input{
    margin-bottom: 30px;
}

#container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    width: 500px;
    height: 500px;
}


.lines{
    
    display: flex;
    flex-grow: 1;
    
    justify-content: space-between;
}

#element{

    flex-grow: 1;
    

    background-color: #AAAAAA;
    

    border-style: solid;
    border-color:black;
    border-width: 1px;
    
    
    margin: 1px
}

.makeblue{
    background-color: cadetblue;
}

.createButton{
    background-color: pink;
}